/* Simple Reset */

* {
    box-sizing: border-box; /* keeps everything the same size no matter what*/
    margin: 0; /* this guarantees that all our elements will be up against each other; nothing between them*/
}

/* Align everything to center of screen */

main {
    text-align: center;
}

/* Style the calculator as a whole */

#buttongrid {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    background-color: darkslategray;
    border-radius: 20px;
}

/* Style display field */

#display {
    display: inline-block;
    width: 300px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 25px;
    text-align: right;
    font-size: 30px;
    font-weight: 200;
    background-color: whitesmoke;
}

/* Style each button */

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 500;
    background-color: cyan;
}